.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 300px;
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.formInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.formButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.formLink {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.formMessage {
  color: red;
  margin-top: 10px;
  text-align: center;
}
